@import url("./animation.css");
@font-face {
    font-family: Titulo;
    src: url(../fontes/ANODETONOONE.TTF);
}

h1 {
    font-family: Titulo;
    font-size: 40px;
    color: #603A03;
}

body {
    background-image: url(../imgs/fundo.jpg);
}

#container {
    width: 950px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

#gameBackground {
    width: 950px;
    height: 630px;
    background-image: url(../imgs/fundo_game.jpg);
    border-color: black;
    border-radius: 40px;
    border-style: solid;
}

#player {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 8px;
    top: 179px;
    background-image: url(../imgs/apache.png);
}

#enemy1 {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 689px;
    top: 253px;
    background-image: url(../imgs/inimigo1.png);
}

#enemy2 {
    width: 165px;
    height: 70px;
    position: absolute;
    left: 775px;
    top: 447px;
    background-image: url(../imgs/inimigo2.png);
}

#friend {
    width: 44px;
    height: 51px;
    position: absolute;
    left: 10px;
    top: 464px;
    background-image: url(../imgs/amigo.png);
}

#bullet {
    width: 50px;
    height: 8px;
    position: absolute;
    background-image: url(../imgs/bullet.png);
}

#start {
    width: 350px;
    height: 200px;
    background-color: black;
    color: white;
    border-radius: 40px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

#start:hover {
    cursor: pointer;
}

#explosion {
    width: 15px;
    height: 87px;
    position: absolute;
}

#frienddeath {
    width: 44px;
    height: 51px;
    position: absolute;
}

#scoreboard {
    width: 900px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 550px;
}

#currentlevel {
    width: 250px;
    height: 50px;
    position: absolute;
    left: 800px;
    top: 575px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #FFF
}

#energy {
    width: 140px;
    height: 38px;
    position: absolute;
    left: 750px;
    top: 7px;
}

#mutebutton {
    background-image: url(../imgs/mute.png);
    position: absolute;
    width: 30px;
    height: 30px;
    left: 900px;
    top: 10px;
}

h3 {
    font-family: Titulo;
    font-size: 20px;
    color: #603A03;
}

#end {
    width: 350px;
    height: 200px;
    background-color: black;
    color: white;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 15px;
    opacity: 0.8;
}

#levelup {
    font-size: larger;
    font-family: Titulo;
    position: absolute;
    left: 425px;
    top: 300px;
    color: white;
    font-size: 40px;
}